<div class="card-home">
    <h2>{{title}}</h2>
    <div class="cta-container"><a href="/{{_id}}/detauls" class="details-link">Details</a></div>
    <div class="card_image"><img src="{{image}}"></div>

</div>