<nav>
    <a href="#">Home</a>
    <ul>
        <!-- Guest users and Logged users -->
        <li><a href="#">Housing for rent</a></li>
        <!-- Guest users -->
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <!-- Logged users -->
        <li><a href="#">Create offer</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>