<nav>
    <a href="/">Home</a>
    <ul>
        <!-- Guest users and Logged users -->
        <li><a href="/rent/housing">Housing for rent</a></li>
        {{#if user}}
        <!-- Logged users -->
        <li><a href="/rent/create">Create offer</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <!-- Guest users -->
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</nav>