<nav>
    <a href="/">Home</a>
    <ul>
        <!-- Guest users and Logged users -->
        <li><a href="/rent">Housing for rent</a></li>
        <!-- Guest users -->
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <!-- Logged users -->
        <li><a href="/create">Create offer</a></li>
        <li><a href=",search">Search</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>